body,
html {
  font-family: "Roboto", sans-serif;
  background: #222121;;
}

body {
  background: url(../assets/footer-bg.png) no-repeat bottom;
  padding-bottom: 10px;
}

html {
  scroll-behavior: smooth;
}

:target::before{
  content: "";
  display: block;
  height: 250px;
  margin: -100px 0 0;
}

#header {
  width: 100%;
  background: #191818; 
  transition: background ease-out 0.2s;
}

#header.active {
  position: fixed;
  background: #191818;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  z-index: 1000;  
}

#header .navbar-collapse {
  width: auto;
}

#header .nav-link {
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 0;
  padding-right: 0;
  color: #ad6179;
  border-bottom: solid 4px transparent;
}

#header .nav-link:hover {
  border-bottom: solid 3px var(--primary);
  
}

#slider {
  background: url(../assets/slider-bg.png) no-repeat center bottom;
  background-size: contain;
}

#slider h1 {
  text-transform: uppercase;
  font-weight: 500;
}

#slider h4 {
  font-size: 18px;
  color: #cacaca;
  font-weight: 500;
}

#slider h1{
  color: var(--primary);
}

#slider h4{
  color: #a7a79c;
}

#sobre .paragrafo{
  font-size: 18px;
  color: #cacaca;
}


#servicos a.destaque {
  display: block;
  background: var(--light);
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  color: #000;
  text-decoration: none;
  transition: all ease-out 0.2s;
}

#servicos a.destaque:hover {
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  transform: scale(1.05);
}

#servicos p {
  color: var(--dark);
}

#servicos a.destaque .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

#servicos a.destaque .img-container img {
  max-height: 160px;
}

.serv{
  color: var(--primary)
}

#clientes a.link-cliente {
  padding: 0 15px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--light);
  height: 100px;
  transition: ease-out all 0.2s;
}

#clientes a.link-cliente:hover {
  transform: scale(1.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

#clientes a.link-cliente img {
  filter: grayscale(100%);
  max-height: 70px;
  width: 100%;
  opacity: 0.6;
}

#clientes a.link-cliente:hover img {
  filter: none;
  opacity: 1;
}

#clientes .cliente-texto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  background-color: var(--light);
  border-radius: 5px;
}

#clientes .cliente-texto .imagem {
  padding: 60px 0;
  display: flex;
  align-items: center;
  margin-left: -70px;
  color: #b4b4b4;
  font-size: 24px;
  line-height: 26px;
}

.title{
  font-weight: 500;
}

#clientes .cliente-texto .imagem span {
  color: var(--secondary);
  font-size: 110px;
  line-height: 110px;
  letter-spacing: -10px;
  font-weight: 900;
  display: block;
}

#clientes .cliente-texto .telefone {
  display: flex;
  font-size: 14px;
  color: #b4b4b4;
}

#clientes .cliente-texto .telefone span {
  font-size: 25px;
  color: #797979;
  font-weight: 900;
  display: block;
}

#servicos .badge {
  font-weight: 400;
}

#servicos .element-item img {
  border-radius: 5px;
  transition: all ease-out 0.2s;
}

#servicos .element-item img:hover {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
}

#servicos .button-group {
  margin-bottom: 30px;
}

#servicos .button-group button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: #a7a79c;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
}

#servicos .button-group button + button {
  margin-left: 30px;
}

#servicos .button-group button.active {
  color: var(--primary);
}

#depoimentos .depoimento {
  background: rgb(196, 196, 196);
  border-radius: 5px;
  display: flex;
  padding: 30px;
}

#depoimentos .depoimento .quote {
  max-width: 35px;
}

#depoimentos .depoimento .name {
  color: #aaaaaa;
}

#depoimentos .depoimento .name span {
  color: #000;
  font-weight: 700;
}

#contato .email {
  border-radius: 5px;
  background-color: #222121;
  box-shadow: 0px 0px 20px 2px rgba(192, 192, 192, 0.548);
  color: #a7a79c;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 0px;
  margin-bottom: 130px;
}

#contato .email img {
  max-width: 150px;
  position: absolute;
  left: 30px;
  top: -30px;
}

#contato .email form {
  width: 60%;
  display: flex;
}

#contato .email .form-control,
#contato .email .form-control::placeholder {
  background: none;
  color: #a7a79c;
}

#contato ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

#contato ul li {
  display: flex;
  list-style-type: none;
  margin-left: 25px;
}

#contato ul li:first-child {
  margin-left: 0;
}

#contato ul li a {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: all ease-out 0.2s;
}

#contato ul li a:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

#contato ul li img {
  max-height: 30px;
}

.cdts{
  background: var(--primary);
  color: #121111;
  border: none;
}

.cdts:hover{
  background: var(--primary-dark);
  color:rgb(196, 196, 196);
}

#servicos h5{
  color: var(--primary);
}


#contato .container form
{
    display: block;
    width: 100%;
    max-width: 500px;
    margin-top: 30px;

}

#contato .container form textarea
{
  width: 100%;
  max-width: 500px;
  height: 150px;
  background: #222121;
  border: 1px solid #fff;
  border-radius: 5px;
}

#contato .container form .formulario
{
  margin-bottom: 10px;
}

#contato .container form p
{
  text-align: left;
}